.spinner{
  font-size: 100px;
  animation: spin 2s infinite linear;
  display: flex;
  height:70px;
  width:70px;
  top: -200px;
}




.spinner:before {
  content: '◌';
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.chartBox {
  max-width: 1000px;
  height: 600px;
}

.spinner {
  margin: auto;
}

.button {
  position: relative;
  padding: 8px 16px;
  
}

#getStocks {
  margin-top: 40px;
}

#getData {
  margin-top: 40px;
  margin-left: 5px;
}

#stockName {
  padding: 8px 16px;
  margin-left: 50px;
}

.stocks {
  position: relative;
}

#stockList {
  margin-top: 0px;
  margin-left: 1050px;
}

#stockData {
  margin-top: -450px;
  margin-left: 1050px;
  font-weight: bold;
  display: none;
}

.styled-table {
  table-layout:fixed;
  width: 289px;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  margin: 25px 2px;
}

.styled-table thead {
  background-color: #008989;
  color: #ffffff;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table td {
  width: 95px;
  text-align: center;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f4f4f4
}
